<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
        <button onclick = "ajax()">
                Send Ajax Request
              </button>
          
          <div id="container"></div>
          <script>
                function ajax() {
                    var datos = new XMLHttpRequest();
                    datos.open("GET","/prueba",true)
                    datos.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    datos.onreadystatechange = function() {
                     console.log(datos.responseText);
                    }
                    datos.send();      
                }
            </script>
</body>
</html>