<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas Personales</title>
    <link href= "{{ url_for('static', filename='css/css_homegt/finanzas.css') }}" rel="stylesheet" type="text/css" media="screen" />  
</head>
<body >
      <div id="carrucel" class="carrucel">
        <div class="items-carrucel">
        </div>
        <div class="items-central">
          <div  id="id_anterior" class="item_carrucel">
            <img  id="mes_anterior" onclick="{{datos.num_month_ant}};" src="{{ url_for('static', filename='imgs/arrowcl.png') }}">
          </div>
          <div id="id_actual"  class="item_carrucel">
            <div id="mes_actual" onclick="{{datos.num_month_act}};">{{datos.name_month_act}}</div>
          </div>
          <div  id="id_siguiente"  class="item_carrucel">
            <img id="mes_siguiente" onclick="{{datos.num_month_sig}};" src="{{ url_for('static', filename='imgs/arrowcr.png') }}">
          </div>
        </div>
        <div class="items-carrucel">
        </div>
      </div>
      <div class="cabecera">
        <div id="dias" class="dias">
          <div class="dias__name">Su</div>
          <div class="dias__name">Mo</div>
          <div class="dias__name">Tu</div>
          <div class="dias__name">We</div>
          <div class="dias__name">Th</div>
          <div class="dias__name">Fr</div>
          <div class="dias__name">Sa</div>
        </div>
      </div>
    <div class="semanas" id="semanas">
      {% for valor in data_calendar %} 
        <div  class="semana">
          {% for item in valor %}
            <div class="numeroDia__semana">
              <div id="{{item}}" class="day_month">{{valor[item]}}</div>
              <div id="{{item}}s" class="service"></div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>       
<script src="{{ url_for('static', filename='js/js_homegt/calendar.js') }}" crossorigin="anonymous"></script>    
</body>
</html>