<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordenadas</title>
</head>
<body>
     <h1>Coordenadas</h1>
     <div>
         <ul>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
            <li>new google.maps.LatLng(4.443581, -75.231992)</li>
         </ul>  
     </div>
     <button onclick="api()">Mostrar coordenadas consultadas API</button>
     <br>
     <br>
     <div id="coodenadas"></div>
     
     <script src="{{ url_for('static', filename='js/js_homeblg/api.js') }}"></script>
</body>
</html>