<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordenadas</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>
</head>
<body>
     <h1>Coordenadas</h1>
     <div>
         <ul>
            <li>Departamento latitud y longitud</li>
            <li>Amazonas	-1.0197222	-71.9383333</li>
            <li>Antioquia	7	-75.5</li>
            <li>Arauca	7.0902778	-70.7616667</li>
            <li>Atlántico	10.75	-75</li>
            <li>Bolívar	9	-74.3333333</li>
            <li>Boyacá	5.5	-72.5</li>
            <li>Caldas	5.25	-75.5</li>
            <li>Caquetá	1	-74</li>
            <li>Casanare	5.5	-71.5</li>
            <li>Cauca	2.5	-76.8333333</li>
            <li>Cesar	9.3333333	-73.5</li>
            <li>Chocó	6	-77</li>
            <li>Cundinamarca	5	-74.1666667</li>
            <li>Córdoba	8.3333333	-75.6666667</li>
            <li>Guainía	2.5	-69</li>
            <li>Guaviare	1.6894444	-72.8202778</li>
            <li>Huila	2.5	-75.75</li>
            <li>La Guajira	11.5	-72.5</li>
            <li>Magdalena	10	-74.5</li>
            <li>Meta	3.5	-73</li>
            <li>Nariño	1.5	-78</li>
            <li>Norte de Santander	8	-73</li>
            <li>Putumayo	0.5	-76</li>
            <li>Quindío	4.5	-75.6666667</li>
            <li>Risaralda	5	-76</li>
            <li>San Andrés	12.5847222	-81.7005556</li>
            <li>Santander	7	-73.25</li>
            <li>Sucre	9	-75</li>
            <li>Tolima	3.75	-75.25</li>
            <li>Valle del Cauca	3.75	-76.5</li>
            <li>Vaupés	0.25	-70.75</li>
            <li>Vichada	5	-69.5</li>
         </ul>  
     </div>
     <button onclick="api()">Mostrar coordenadas consultadas API</button>
     <br>
     <br>
     <div id="coodenadas"></div>
     <div id="map" style=" width:800px; height: 1500px; "> </div>
     
    <script src="{{ url_for('static', filename='js/js_homeblg/api.js') }}"></script>
 
</body>
</html>