<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordenadas</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>
</head>
<body>
    <h1>Coordenadas</h1>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #d6d8ee;
        }
    </style>
     
    <table class="default">   
        <thead>
            <tr>
                <th>Departamento</th>
                <th>Latitud</th>
                <th>longitud</th>
            </tr>
        </thead>
            
            
            
        <tbody>
            <tr>
                <th>Amazonas</th>
                <td>-1.0197222</td>
                <td>-71.9383333</td>
            </tr>
            <tr>
                <th>Antioquia</th>
                <td>7</td>
                <td>-75.5</td>
            </tr>
            <tr>
                <th>Arauca</th>
                <td>7.0902778</td>
                <td>-70.7616667</td>
            </tr>
            <tr>
                <th>Atlántico</th>
                <td>10.75</td>
                <td>-75</td>
            </tr>
            <tr>
                <th>Bolívar</th>
                <td>9</td>
                <td>-74.3333333</td>
            </tr>
            <tr>
                <th>Boyacá</th>
                <td>5.5</td>
                <td>-72.5</td>
            </tr>
            <tr>
                <th>Caldas</th>
                <td>5.25</td>
                <td>-75.5</td>
            </tr>
            <tr>
                <th>Caquetá</th>
                <td>1</td>
                <td>-74</td>
            </tr>
            <tr>
                <th>Casanare</th>
                <td>5.5</td>
                <td>-71.5</td>
            </tr>
            <tr>
                <th>Cesar</th>
                <td>9.3333333</td>
                <td>-73.5</td>
            </tr>
            <tr>
                <th>Chocó</th>
                <td>6</td>
                <td>-77</td>
            </tr>
            <tr>
                <th>Cundinamarca</th>
                <td>5</td>
                <td>-74.1666667</td>
            </tr>
            <tr>
                <th>Córdoba</th>
                <td>8.3333333</td>
                <td>-75.6666667</td>
            </tr>
            <tr>
                <th>Guainía</th>
                <td>2.5</td>
                <td>-69</td>
            </tr>
            <tr>
                <th>Guaviare</th>
                <td>1.6894444</td>
                <td>-72.8202778</td>
            </tr>
            <tr>
                <th>Huila</th>
                <td>2.5</td>
                <td>-75.75</td>
            </tr>
            <tr>
                <th>La Guajira</th>
                <td>11.5</td>
                <td>-72.5</td>
            </tr>
            <tr>
                <th>Magdalena</th>
                <td>10</td>
                <td>-74.5</td>
            </tr>
            <tr>
                <th>Meta</th>
                <td>3.5</td>
                <td>-73</td>
            </tr>
            <tr>
                <th>Nariño</th>
                <td>1.5</td>
                <td>-78</td>
            </tr>
            <tr>
                <th>Norte de Santander</th>
                <td>8</td>
                <td>-73</td>
            </tr>
            <tr>
                <th>Putumayo</th>
                <td>0.5</td>
                <td>-76</td>
            </tr>
            <tr>
                <th>Quindío</th>
                <td>4.5</td>
                <td>-75.6666667</td>
            </tr>
            <tr>
                <th>Risaralda</th>
                <td>5</td>
                <td>-76</td>
            </tr>
            <tr>
                <th>San Andrés</th>
                <td>12.5847222</td>
                <td>-81.7005556</td>
            </tr>
            <tr>
                <th>Santander</th>
                <td>7</td>
                <td>-73.25</td>
            </tr>
            <tr>
                <th>Sucre</th>
                <td>9</td>
                <td>-75</td>
            </tr>
            <tr>
                <th>Tolima</th>
                <td>3.75</td>
                <td>-75.25</td>
            </tr>
            <tr>
                <th>Valle del Cauca</th>
                <td>3.75</td>
                <td>-76.5</td>
            </tr>
            <tr>
                <th>Vaupés</th>
                <td>0.25</td>
                <td>-70.75</td>
            </tr>
            <tr>
                <th>Vichada</th>
                <td>5</td>
                <td>-69.5</td>
            </tr>
        </tbody>
    </table>
    <button onclick="api()">Mostrar coordenadas consultadas API</button>
    <br>
    <br>
    <div id="coodenadas"></div>
    <div id="map" style=" width:800px; height: 1500px; "> </div>
     
    <script src="{{ url_for('static', filename='js/js_homeblg/api.js') }}"></script>
 
</body>
</html>