

html, body {
  background-color: whitesmoke;
  margin: 10px;
}

.container {
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  background:  whitesmoke;
}

.container .nombre
{   
 
    background: black;
    grid-column: 1 / 3;
    height: 80px;
    font-size:30px;
    color:white;
    font-weight: bold;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    /*Centrar Mediante Flex*/
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
}

.container .Logo-cv
{   
    grid-column: 3 / 5;
    background: gray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
}

#logo-cv{
    background: red;
    width: 40px;
    height: 40px;
    border: 10px solid #eee;
    border-top: 10px solid rgb(21, 57, 133);
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
    
}


.container .profesion
{   
    background: white;
    grid-column: 3/5;
    grid-row: 2/3;
    font-size:30px;
    height: 80px;
    font-weight: bold;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
     /*Centrar Mediante Flex*/
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
    
}


.container .fondo-lateral
{   
    background: gray;
    grid-column: 1/3;
    grid-row: 2/3;    
}

.container .menu-principal
{   
    background: rgb(245, 239, 239);
    grid-column: 1/5;
      
}

.container .menu-principal nav
{   margin: 0;
    padding: 1em;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}



.container .menu-principal nav ul
{   
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
}

.container .menu-principal li a 
{   
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

#my-picture{
    border: 4px solid black;
    border-radius: 10px; 
    width: 95%;
}

.container .menu-principal nav li a:hover {
    background: tomato;
    color: white;
}


.container .presentacion
{   
    background: rgb(245, 239, 239);
    grid-column: 1/4;
    height: 450px;
    border: 2px solid green;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
      
}



.container .imagen-perfil
{   
    background: rgb(245, 239, 239);
    grid-column: 4/5;
    height: 300px;
    margin: 20px;
    
}

#titulo-items{
    margin-top: 0px;
    padding: 1.5em;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 10px;
    font-size: 21px;
    background:burlywood;
}

p{
    font-size: 21px;
    
}

.container .titulo-proyectos
{   
    grid-column: 1/5;
    font-size: 21px;
    height: 50px;
    font-weight: bold;
    margin-bottom: 50px;

}


.titulo-proyectos hr{
    border: 0; 
    height: 12px; 
    box-shadow: inset 0 12px 12px -12px orange;
   
}

.container .Menu-proyectos
{   
    background: rgb(245, 239, 239);
    grid-column: 1/5;
      
}


.option-menu
{  
padding: 0%;
   display: flex;
   list-style: none;
   background: #333;
   font-family: Verdana, Geneva, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale; 
}

.menuitems{
    font-size: 25px;
}

.option-menu li a 
{   
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

.option-menu li {
    flex-grow:1;
    text-align:left;
    border-right: 2px solid red;
}
.option-menu li:first-child{
    border-left: 2px solid red;
  }

.option-menu li a:hover {
background: tomato;
color: white;
}

.container .vista-proyectos{
    grid-column: 1/5;
    grid-gap: 2px 50px;
}

.show-project{
    
    display: flex;
    flex-direction: row;  
}

.img-project{
    border: 4px solid rgb(185, 185, 41);
    border-radius: 20px;
}

.items-proyectos{
    /*Distribucion de espacio de forma uniforme hijos elemento padre (.show-project)*/
    flex-grow: 1; 
    margin: 10px;
    width: 25%;
    background:rgba(68, 68, 71, 0.753);
    border: 4px solid beige;
    border-radius: 10px;
    /*Posicionamiento flexbox componente padre*/
    display: flex;
    flex-direction:column;  
    align-items: center;
}



.float-lateral{
    background: beige; 
    margin: 10px;
    padding: 1.5em;
    border: 2px solid red;
    border-radius: 50px 20px;
}

.project-show{
    background: #eee;
    width: 40%;
    height: 50px;
    margin:0px auto;
    /*Centrar verticalmente elemento inline (a)*/
    line-height: 50px;
    display: block;
    margin: 10px;
    /*Centrar horizontalmente elemento inline (a)*/
    text-align: center;
}

.project-show a{
    text-decoration: none;
    color: black; 
}

.items-app{
    font-size: 21px;
}

.titulo-items-app{
    font-size: 21px;
}

.footer{
    grid-column: 1/5;
    height: 70px;
    
    
}

.footer .sociales{
    background: rgb(46, 94, 182);
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    border-radius: 10px;
}

.footer .sociales a{
    font-size: 25px;
    color: #eee;
    margin-left: 30px;
}







