html, body {
  background-color: whitesmoke;
  margin: 10px;
  font-family: 'Baskervville', serif;
}

@media(min-width:1024px){
  main{
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    background:  whitesmoke;
    grid-gap: 10px;
   
    }
  
   /*Dispocion de las grillas*/
  header{
    background: white;
    grid-column: 1/4;
    height: 250px;
    margin-top: 50px;
  }
  
  .aside-izquierda{
    background: whitesmoke;
    width: 100%;
  }

  .aside-derecha{
    display: grid;
    justify-items: center;
    background: rgb(248, 235, 53);
    width: 100%;
    padding-bottom: 20px;
    font-size: 17px;
  }

 
  .aside-derecha a{
    text-decoration: none;
    color: black; 
    
  }

  .item-oferta{
    font-size: 18px;
  }

  article{
    background: white;
  }
  section{
    background: rgb(5, 5, 5);
    grid-column: 1/4;
  }
  footer{
    grid-column: 1/4;
  }


  .cabecera{
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
  }
  
  .Titulo{
    grid-column: 1/4;
  }

  .logo{
    grid-column: 1/2;
  }
  
  .menu-principal{
    grid-column: 1/4;
  }

  /*Estilos menus*/

  .option-menu {  
    padding: 0%;
    display: flex;
    list-style: none;
    background: rgb(39, 123, 226);
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }

  .menuitems{
    font-size: 25px;
  }
  
  .option-menu li a {   
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    font-family: 'Baskervville', serif;
  }

.option-menu li {
  flex-grow:1;
  text-align:left;
  border-right: 4px solid yellowgreen;
}

.option-menu li:first-child{
  border-left: 2px solid yellowgreen;
}

.option-menu li a:hover {
  background: tomato;
  color: white;
}

/*******************************************************************************************************
*                                              CSS Menu lateral                                       *
*******************************************************************************************************/
.container .menu_lateral {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 20px;
  color: white;
  grid-column: 1/2;
  height: 500px;
}

#cabecera-menu-lateral{
  background: steelblue;
  color: white;
  display: block; 
}

.cabecera-menu-lateral{
padding-right: 0;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
margin-right: 0;
display: block;
}


.cabecera-menu-lateral>li{
  flex: auto;
  width: 100%;
  line-height: 3;
  border-bottom: 2px solid black;
  overflow: hidden; 
}

.cabecera>li:hover{
  background: rgb(202, 197, 197);
}

.categoria .Servicios{
  display:none;
}

.categoria .Servicios:hover{
  display: block;
}



.container .navBar {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  background: steelblue; 
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

ul>li{
  list-style: none;
}

li>a{
text-decoration:none; 
font-size: 17px;
}

.sub-items{
line-height: 3;
border-bottom: 2px solid rgb(26, 43, 90);
overflow: hidden; 
}

.sub-items:last-child{
border-bottom: none;
}

.sub-items:hover{
background: white;
}


/******************************************************************************************************
*                                              CSS Carrucel de imagenes                               *
*******************************************************************************************************/
article .slider{
  margin-top: 20px;
  background: rgb(202, 197, 197);
  text-align: center;
  overflow: hidden;
  border: 1px solid rgb(120, 162, 240);
  border-radius: 2px;
}


    
.slider .sliderImages {
  width: 100%;
  height: auto;
  background: white;
  position: relative;
  transition: all 0.5s;      
}
      
    
 .sliderNavigation{
 display: flex;
 justify-content: space-around;
 margin-top: 10px;
 
 height: 25px;
 background: white;
}
      
.slider-nav{
  width: 40px;
  height: 20px;
  border: 1px solid rgb(120, 162, 240);
  /*background: blue;*/
  background: rgb(58, 58, 99);
  /*box-shadow: 2px 7px 3px black inset;
  border-radius: 50%; */
}
    
.slider-nav.slider-nav-active{
  background: yellowgreen;
}
    
.slider-nav:hover{
  background: red;
}
    
.slider-nav.slider-nav-active:hover{
  background: red;
}

/******************************************************************************************************
*                                              CSS Carrucel de imagenes                               *
*******************************************************************************************************/

.images_servicios{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  
  
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
} 

.images_servicios .items-services{
  width: 95%;
  height: 250px;
  margin: 10px;

}

.itms-img{
  border: 2px solid #333;
}

#mis-servicios{
  text-align: center;
  color: whitesmoke;
}

.items{
  list-style: none;
  margin: 10px;
  background: #F7F7F7;
  color: black;
  display: block;
  
  /*text-align: center;*/
}

.items>a{
  color: black;
  display: block;
}

.footer .sociales{
  padding: 10px;
  background: rgb(46, 94, 182);
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  border-radius: 10px;
}

.footer .sociales a{
  font-size: 25px;
  color: #eee;
  margin-left: 30px;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  
 
  
}

@media(max-width:768px){

  main{
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    background:  whitesmoke;
    grid-gap: 10px;
  }

   /*Dispocion de las grillas*/
   header{
    background: white;
    grid-column: 1/4;
    height: auto;
    margin-top: 50px;
    order: 1;
  }
  
  .aside-izquierda{
    grid-column: 1/4;
    background: whitesmoke;
    width: 100%;
    order: 3;
  }

  .aside-derecha{
    grid-column: 1/4;
    display: grid;
    justify-items: center;
    background: rgb(248, 235, 53);
    width: 100%;
    padding-bottom: 20px;
    order: 4;
  }
 
  .aside-derecha a{
    grid-column: 1/4;
    text-decoration: none;
    color: black; 
  }
  article{
    grid-column: 1/4;
    background: white;
    order: 2;
  }
  section{
    background: rgb(5, 5, 5);
    grid-column: 1/4;
    order: 5;
  }
  footer{
    grid-column: 1/4;
    order: 6;
  }


  .cabecera{
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
  }
  
  .Titulo{
    grid-column: 1/4;
  }

  .logo{
    grid-column: 1/2;
  }
  
  .menu-principal{
    grid-column: 1/4;
  }

/*Estilos menus*/

.option-menu {  
  padding: 0%;
  /*display: flex;*/
  list-style: none;
  /*background: rgb(39, 123, 226);*/
  background: rgb(1, 12, 26);
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.menuitems{
  font-size: 20px;
}

.option-menu li a {   
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  font-family: 'Baskervville', serif;
}

.option-menu li {
flex-grow:1;
text-align:left;
border-bottom: 4px solid yellowgreen;
}

.option-menu li:first-child{
border-top: 2px solid yellowgreen;
}

.option-menu li a:hover {
background: tomato;
color: white;
}

/*******************************************************************************************************
*                                              CSS Menu lateral                                       *
*******************************************************************************************************/
.container .menu_lateral {
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
margin-top: 20px;
color: white;
grid-column: 1/2;
height: 500px;
}

#cabecera-menu-lateral{
/*background: steelblue;*/
background: rgb(33, 44, 53);
color: white;
display: block; 
}

.cabecera-menu-lateral{
padding-right: 0;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
margin-right: 0;
display: block;
}


.cabecera-menu-lateral>li{
flex: auto;
width: 100%;
line-height: 3;
border-bottom: 2px solid black;
overflow: hidden; 
}

.cabecera>li:hover{
background: rgb(202, 197, 197);
}

.categoria .Servicios{
display:none;
}

.categoria .Servicios:hover{
display: block;
}



.container .navBar {
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
list-style: none;
background: steelblue; 
width: 100%;
height: 500px;
display: flex;
flex-direction: row;
}

ul>li{
list-style: none;
}

li>a{
text-decoration:none; 
font-size: 17px;
}

.sub-items{
line-height: 3;
border-bottom: 2px solid rgb(26, 43, 90);
overflow: hidden; 
}

.sub-items:last-child{
border-bottom: none;
}

.sub-items:hover{
background: white;
}


/******************************************************************************************************
*                                              CSS Carrucel de imagenes                               *
*******************************************************************************************************/
article .slider{
margin-top: 20px;
background: rgb(202, 197, 197);
text-align: center;
overflow: hidden;
border: 1px solid rgb(120, 162, 240);
border-radius: 2px;
}


  
.slider .sliderImages {
width: 100%;
height: auto;
background: white;
position: relative;
transition: all 0.5s;      
}
    
  
.sliderNavigation{
display: flex;
justify-content: space-around;
margin-top: 10px;

height: 25px;
background: white;
}
    
.slider-nav{
width: 40px;
height: 20px;
border: 1px solid rgb(120, 162, 240);
/*background: blue;*/
background: rgb(58, 58, 99);
/*box-shadow: 2px 7px 3px black inset;
border-radius: 50%; */
}
  
.slider-nav.slider-nav-active{
background: yellowgreen;
}
  
.slider-nav:hover{
background: red;
}
  
.slider-nav.slider-nav-active:hover{
background: red;
}

/******************************************************************************************************
*                                              CSS Carrucel de imagenes                               *
*******************************************************************************************************/

.images_servicios{
display: grid;
grid-template-columns: 1fr;
justify-items: center;
padding-left: 20px;
padding-right: 20px;

/*display: flex;
flex-wrap: wrap;
justify-content: center;*/
} 

.images_servicios .items-services{
width: 300px;
height: 250px;
margin: 10px;

}

.itms-img{
border: 2px solid #333;
}

#mis-servicios{
text-align: center;
color: whitesmoke;
}

.items{
list-style: none;
margin: 10px;
background: #F7F7F7;
color: black;
display: block;

/*text-align: center;*/
}

.items>a{
color: black;
display: block;
}

.footer .sociales{
padding: 10px;
background: rgb(5, 5, 5);
display: flex;
flex-direction: row;
justify-content: left;
flex-wrap: wrap;
border-radius: 10px;
}

.footer .sociales a{
font-size: 25px;
color: #eee;
margin-left: 30px;
}


}


 
