<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href= "{{ url_for('static', filename='css/card.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
</head>
<body>
    <div class="card">
        <h1>LAVADO BASICO GENERAL-(AUTOMOVIL)</h1>
            <p>
                Limpieza de vidrios. Limpieza llantas. Limpieza guardabarros. <br>
                Limpieza carrocería. Limpieza de carteras. <br>
                Limpieza panel de control. Limpieza de baúl. <br>
            </p>
            
            <li>
                $ 21000.0
            </li>
                
            <li>
                <button>Editar</button>
                <button>Eliminar</button>
            </li>
    </div>
</body>
</html>