<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas Personales</title>
    <link href= "{{ url_for('static', filename='css/finanzas.css') }}" rel="stylesheet" type="text/css" media="screen" />  
</head>
<body>
    
     <div id="calendar" class="calendar">
       <div id="dias" class="dias">
        <div class="dias__name">Su</div>
        <div class="dias__name">Mo</div>
        <div class="dias__name">Tu</div>
        <div class="dias__name">We</div>
        <div class="dias__name">Th</div>
        <div class="dias__name">Fr</div>
        <div class="dias__name">Sa</div>
      </div>
      <hr>
      <div class="semanas">
        <div id="semana1" class="semana1">
          <div class="numeroDia__semana">1</div>
          <div class="numeroDia__semana">2</div>
          <div class="numeroDia__semana">3</div>
          <div class="numeroDia__semana">4</div>
          <div class="numeroDia__semana">5</div>
          <div class="numeroDia__semana">6</div>
          <div class="numeroDia__semana">7</div>
        </div>
    
        <div id="semana2" class="semana2">
          <div class="numeroDia__semana">8</div>
          <div class="numeroDia__semana">9</div>
          <div class="numeroDia__semana">10</div>
          <div class="numeroDia__semana">11</div>
          <div class="numeroDia__semana">12</div>
          <div class="numeroDia__semana">13</div>
          <div class="numeroDia__semana">14</div>
        </div>
        
        <div id="semana3" class="semana3">
          <div class="numeroDia__semana">15</div>
          <div class="numeroDia__semana">16</div>
          <div class="numeroDia__semana">17</div>
          <div class="numeroDia__semana">18</div>
          <div class="numeroDia__semana">19</div>
          <div class="numeroDia__semana">20</div>
          <div class="numeroDia__semana">21</div>
        </div>
        <div id="semana4" class="semana4">
          <div class="numeroDia__semana">22</div>
          <div class="numeroDia__semana">23</div>
          <div class="numeroDia__semana">24</div>
          <div class="numeroDia__semana">25</div>
          <div class="numeroDia__semana">26</div>
          <div class="numeroDia__semana">27</div>
          <div class="numeroDia__semana">28</div>
        </div>
        <div id="semana5" class="semana5">
          <div class="numeroDia__semana">29</div>
          <div class="numeroDia__semana">30</div>
          <div class="numeroDia__semana">31</div>
          <div class="numeroDia__semana">32</div>
          <div class="numeroDia__semana">33</div>
          <div class="numeroDia__semana">34</div>
          <div class="numeroDia__semana">35</div>
        </div>
         
      </div>
     </div> 
    
</body>
</html>