<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lavasplash</title>
  <link href= "{{ url_for('static', filename='css/basels.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
</head>
<body>
  <main>
    <header>
      <div class="cabecera">
          <h1 class="Titulo">Bienvenido a lavasplash</h1>
          <div class="logo">
              <img src="{{ url_for('static', filename='imgs/logo.png') }}">
          </div> 
          <nav class="menu-principal" > 
              <ul class="option-menu" >
                  <li ><a href="#" class="menuitems">Inicio</a></li>
                  <li ><a href="#" class="menuitems">Mi perfil</a></li>
                  <li ><a href="#" class="menuitems">Escribeme</a></li>
                  <li ><a href="{{url}}/login" class="menuitems">Iniciar Sesión</a></li>
                  <li ><a href="{{url}}/registro" class="menuitems">Registrate</a></li>
              </ul>
          </nav>
      </div>
    </header>
    <aside class="aside-izquierda">
        <div class="menu_lateral">      
            <ul  class="cabecera-menu-lateral">
              <li>
                <a href="#" id = "cabecera-menu-lateral">
                    <i class="fa fa-dashboard fa-lg"></i> Panel Administrador
                </a>
              </li>
                
              <li id="servicios2" class="categoria">
                <a href="#"><i class="fa fa-cogs fa-lg"></i> Gestion Servicios <span class="arrow"></span></a>
                    <div id="Of_Servicios"  class="Servicios">
                      <ul class="navbar2">
                        <li class="sub-items"><a href="{{url}}/NewOfServicio">Crear oferta de servicio</a></li>
                        <li class="sub-items"><a href="{{url}}/NewServicioPtado">Nuevo servicio prestado</a></li>
                        <li class="sub-items"><a href="{{url}}/ListaOfServicios">Nuestros servicios</a></li>
                        <li class="sub-items"><a href="{{url}}/ProcesarServicios">Saldo de servicios</a></li>
                      </ul>
                    </div>
              </li>
                    
            </ul>
        </div>
    </aside>
    <article>
      <div class="slider" id="slider-container">
        <div class="sliderImages" id="sliderJs"></div>
      </div>
      <div class="sliderNavigation" id="sliderNavigation"></div>
    </article>
    <aside class="aside-derecha">
      <img src="{{ url_for('static', filename='imgs/ofertas.png') }}" alt="">
        <a class="item-oferta" href="">LAVADO BASICO GENERAL-(AUTOMOVIL)</a>
        <a class="item-oferta" href="">BRILLADA-(AUTOMOVIL)</a>
        <a class="item-oferta" href="">DESMANCHADA-(AUTOMOVIL)</a>
        <a class="item-oferta" href="">PRECIO:  $60000.0</a> 
    </aside>
    <section>
      <h1 id="mis-servicios">Lista de servicios prestados lavasplash</h1>
      <div class="images_servicios">
          {% for valor in servicios %}        
              <div id="{{valor.id}}" class="items-services">
                <img class = "itms-img" src="/static/imgs/img_{{valor.id}}.jpg"  alt="{{valor.id}}">
                <li class="items"><a href="{{url}}/reg_prestado/{{valor.id}}/">{{valor.tipo}}</a></li>
                <li class="items"><a href="{{url}}/reg_prestado/{{valor.id}}/">PRECIO:  ${{valor.costo}}</a></li>
              </div>
          {% endfor %} 
      </div>
    </section>
    <footer class="footer">
      <div class="sociales">
        <a href="https://twitter.com/CarlosM06905817"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.facebook.com/cmrestrepo1"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/Redoxfox"><i class="fab fa-github-square"></i></i></a>
        <a href="https://www.linkedin.com/in/carlos-torres-b2446629/"><i class="fab fa-linkedin"></i></a>
      </div>
    </footer>
  </main>
 
<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
<script src="{{ url_for('static', filename='js/event_nav.js') }}"></script>
<script src="https://kit.fontawesome.com/b6bfe8df39.js" crossorigin="anonymous"></script>   
</body>
</html>