<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carlos Mario Torres Desarrollador Junior</title>
    <link href= "{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css" media="screen" />  
    
</head>
<body>
<main class="container">
<div class="container1"> 
        Carlos Mario Torres 
</div>

<div class="container2"> 
    <div>CMT</div>
</div>
        
<div class="container3">
        Desarrollador Junior 
</div>

<div class="container4"> 
   
</div>

<header class="container5">   
<nav > 
    <ul >
        <li ><a href="#" class="menuitems">Inicio</a></li>
        <li ><a href="#" class="menuitems">Mi perfil</a></li>
        <li ><a href="#" class="menuitems">Escribeme</a></li>
        <li ><a href="{{url}}/login" class="menuitems">Iniciar Sesión</a></li>
        <li ><a href="{{url}}/registro" class="menuitems">Registrate</a></li>
    </ul>
</nav>
</header>
<div class="container6">
         <h4><strong>Sobre mí</strong></h4>
         <p >
            Hola! Mi nombre es Carlos Mario Torres, soy estudiante del quinto semestre de Ingenieria de Sistemas, en la Universidad Abierta y a 
            Distancia (UNAD).
         </p>  
         <p>
            Aunque en el momento no cuento con experiencia laboral, ni un titulo en el area de sistemas. Si cuento con un titulo de Tecnología Quimica 
            de la Universidad de Antioquia y experiencia laboral de aproximadamente 8 años en la industria quimica. 
        </p> 
        <p> 
            Sin embargo soy una persona autodidacta, dedicada y muy apasionado por los lenguajes de programacion y desde el 2014 de forma personal he trabajado
            en proyectos en lenguajes de programacion como PHP, Python, Javascript, C#, Java, Fortran, Matlab, Tcl/tk, VBA/Excel y SO Linux; Enfocado principalmente
            a desarrollar aplicaciones web principalmente en el micro-framework Flask escrito en python y hace unos meses en el stack MERN de Javascript.
        </p>         
</div>

<div class="container7">
    <img src="https://picsum.photos/400/400">  
</div>

<div class="container9">
    Mis proyectos 
</div>

<div class="container8">   
    <nav > 
        <ul >
            <li ><a href="#" class="menuitems">Flask</a></li>
            <li ><a href="#" class="menuitems">Javascript</a></li>
            <li ><a href="#" class="menuitems">Java</a></li>
            <li ><a href="#" class="menuitems">C#</a></li>
            <li ><a href="#" class="menuitems">Node.js</a></li>
            <li ><a href="#" class="menuitems">Flutter</a></li>
            <li ><a href="{{url}}/login" class="menuitems">Android</a></li>
            <li ><a href="{{url}}/registro" class="menuitems">Todos</a></li>
        </ul>
    </nav>

</div> 



<!-- </div> -->
<!-- 
       
        <aside>Izquierda</aside>
        <article>Contenido</article>
        <aside>Derecha</aside>
        <footer>Footer</footer> -->
    </main>

    <section class="servicios">
        <div class="contenedor">
            <div class="contenedor"> 
                <img src="https://picsum.photos/300/300">
            </div>
            
            <div class="contenedor"> 
                 Programa diseñado en python
                 
            </div>
                
            <div class="contenedor">
                <img src="https://picsum.photos/300/300">
            </div>
            
            <div class="contenedor"> 
               Programa para desarrollo autonomo
            </div>
        </div>
        
    
      </section>
    
</body>
</html>