<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carlos Mario Torres Desarrollador Junior</title>
    <link href= "{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
    <link href= "{{ url_for('static', filename='css/font.css') }}" rel="stylesheet" type="text/css" media="screen" />   
   
</head>
<body>
<main class="container">
<div class="nombre"> 
        Carlos Mario Torres 
</div>

<div class="Logo-cv"> 
    <div id="logo-cv">CMT</div>
</div>
        
<div class="profesion">
        Desarrollador Junior 
</div>

<div class="fondo-lateral"> 
   
</div>

<header class="menu-principal">   
<nav > 
    <ul class="option-menu">
        <li ><a href="#" class="menuitems">Inicio</a></li>
        <li ><a href="#" class="menuitems">Mi perfil</a></li>
        <li ><a href="#" class="menuitems">Escribeme</a></li>
        <li ><a href="{{url}}/login" class="menuitems">Iniciar Sesión</a></li>
        <li ><a href="{{url}}/registro" class="menuitems">Registrate</a></li>
    </ul>
</nav>
</header>
<div class="presentacion" id="sobre-my">
         <h4 id="titulo-items"><strong>Sobre mí: !Mueve el mouse sobre el parrafo y busca la combinacion de color que te guste!..</strong></h4>
         <p class="parrafo">
            Hola! Mi nombre es Carlos Mario Torres, soy estudiante del quinto semestre de Ingenieria de Sistemas, en la Universidad Abierta y a 
            Distancia (UNAD).
         </p>  
         <p class="parrafo">
            Aunque en el momento no cuento con experiencia laboral, ni un titulo en el area de sistemas. Si cuento con un titulo de Tecnología Quimica 
            de la Universidad de Antioquia y experiencia laboral de aproximadamente 8 años en la industria quimica. 
        </p> 
        <p class="parrafo"> 
            Sin embargo soy una persona autodidacta, dedicada y muy apasionado por los lenguajes de programacion y desde el 2014 de forma personal he trabajado
            en proyectos en lenguajes de programacion como PHP, Python, Javascript, C#, Java, Fortran, Matlab, Tcl/tk, VBA/Excel y SO Linux; Enfocado principalmente
            a desarrollar aplicaciones web principalmente en el micro-framework Flask escrito en python y hace unos meses en el stack MERN de Javascript.
        </p>         
</div>

<div class="imagen-perfil">
    <img id="my-picture" src="https://picsum.photos/400/300">  
</div>



<div class="Menu-proyectos">   
    <nav id="menu-proyectos">
        <ul class="option-menu" >
            <li ><a href="#" class="menuitems">Flask</a></li>
            <li ><a href="#" class="menuitems">Javascript</a></li>
            <li ><a href="#" class="menuitems">Java</a></li>
            <li ><a href="#" class="menuitems">C#</a></li>
            <li ><a href="#" class="menuitems">Node.js</a></li>
            <li ><a href="#" class="menuitems">Flutter</a></li>
            <li ><a href="{{url}}/login" class="menuitems">Android</a></li>
            <li ><a href="{{url}}/registro" class="menuitems">Todos</a></li>
        </ul>
    </nav>
</div> 
<div class="titulo-proyectos">
    <hr>
        Mis proyectos 
    <hr>
</div>
<section class="vista-proyectos">
 <div class="show-project">
    <div class="items-proyectos">
        <h2>Lavasplash lavado ecologico</h2>
        <img class="img-project" src="https://picsum.photos/300/300" >
        <div class="float-lateral">
            <h4 ><strong>Simple aplicacion Web para empresa lavado ecologico.</strong></h4>
            <p >
                Lavasplah es una inicitiva que promueve el lavado de vehiculos de forma ecologica, su principal 
                objetivo es la no utilizcion de agua en el lavado de vehiculos.
            </p>  
            <p>
                Esta simple aplicacion permite la administracion y seguimiento de los servicios prestados permitiendo 
            </p> 
            <p> 
                <ul>
                    <li>Crecion de nuevo servicio de lavado</li>
                    <li>Registro servicio solicitado por cliente</li>
                    <li>Creacion de nuevos clientes</li>
                    <li>Listado de servicios prestados a los clientes</li>
                    <li>Consulta de servicios realizados</li>        
                </ul>
            </p>     
        </div> 
        <div class="project-show">
            <a href="{{url}}/lavasplash/index_ls">Ver aplicacion</a>
        </div>            
    </div> 
        <div class="items-proyectos">
            <h2>Control de finanazas personales</h2>
            <img class="img-project"  src="https://picsum.photos/300/300">
            <div class="float-lateral">
                <h4 ><strong>Simple aplicacion Web para control de finanzas personales. </strong></h4>     
                <p >
                    Lavasplah es una inicitiva que promueve el lavado de vehiculos de forma ecologica, su principal 
                    objetivo es la no utilizcion de agua en el lavado de vehiculos.
                </p>  
                <p>
                    Esta simple aplicacion permite la administracion y seguimiento de los servicios prestados permitiendo 
                </p> 
                <p> 
                    <ul>
                        <li>Crecion de nuevo servicio de lavado</li>
                        <li>Registro servicio solicitado por cliente</li>
                        <li>Creacion de nuevos clientes</li>
                        <li>Listado de servicios prestados a los clientes</li>
                        <li>Consulta de servicios realizados</li>        
                    </ul>
                </p>     
            </div>
            <div class="project-show">
                <a href="{{url}}/lavasplash/index_ls">Ver aplicacion</a>
            </div>    
        </div>
    </div>
  </div>  
  </section>

  <footer class="footer">
      <div class="sociales">
          <a href="#"><i class="fab fa-twitter-square"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-telegram-plane"></i></a>
          <a href="#"><i class="fab fa-slack"></i></a>
      </div>
  </footer>

</main>

<script src="{{ url_for('static', filename='js/sobre-my.js') }}"></script> 
<script src="https://kit.fontawesome.com/b6bfe8df39.js" crossorigin="anonymous"></script>    
</body>
</html>