<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="descripcion" content="Pagina lavado de vehiculos" />
	<meta name="Keywords" content= "vehiculos, lavado" />
	<title>Listado de clientes</title>
	
  <link href= "{{ url_for('static', filename='css/publicacion.css') }}" rel="stylesheet" type="text/css" media="screen" />
  <link href= "{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" media="screen" />
  <link href= "{{ url_for('static', filename='css/EstiloTabla.css') }}" rel="stylesheet" type="text/css" media="screen" />
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  <style>
      canvas{
        border: 1px solid;
      }
    </style>
</head>
<body> 
   <li>{{sql}}</li>
    <h2>LISTADO DE CLIENTES</h2>
        <br>
    <a class='btn btn-success' style='font-size: 20px;'  href="{{url}}/NewClient"><i class='fa fa-plus-square' aria-hidden='true'></i>&nbsp;Nuevo Proveedor</a>
    <br>
    <br>
    <table>
      <thead>
        <tr>
            <th>ID PROV</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Nit Proveedor</th>
            <th>Correo</th>
            <th>Web</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for items in clientes %}
        <tr> 
            <td data-label="id">{{items.id}}</td> 
            <td data-label="Nombre">{{items.nombre}}</td> 
            <td data-label="Direccion">{{items.direccion}}</td>
            <td data-label="Telefono">{{items.telefono}}</td>
            <td data-label="Nit">{{items.nit}}</td> 
            <td data-label="Correo">{{items.email}}</td>
            <td data-label="web">{{items.web}}</td>
            <td data-label="editar"><a class='btn btn-warning' style='font-size: 15px;' title='Editar Producto' href="{{url}}/ActualizarServicio/{{items.id}}/"><i class='fa fa-pencil' aria-hidden='true' fa-2x></i>Editar</a></td>
            <td data-label="eliminar"><a class='btn btn-danger' style='font-size: 15px;' title='Eliminar Proveedor' href=".$delete."><i class='fa fa-trash-o' aria-hidden='true' fa-2x></i>Eliminar</a></td>
        </tr> 
        {% endfor %}
       </tbody>
    </table>
    <div class="container">
        <p class="post">
          {{sql}}
        </p>
      </div>
<div id='footer'>
    Copyright &copy; 2017
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>