{% for valor in valor %}
<p>{{valor}}</p>
  <p>Valor aportar FE = {{ valor.FE}}={{ valor.r1}}</p> <p>Valor aportar FE2 = {{ valor.FE2}}={{ valor.r9}}</p> 
  <p>Valor aportar EE = {{ valor.EE}}={{ valor.r2}}</p> <p>Valor aportar EE2 = {{ valor.EE2}}={{ valor.r10}}</p> 
  <p>Valor aportar NE = {{ valor.NE}}={{ valor.r3}}</p> <p>Valor aportar NE2 = {{ valor.NE2}}={{ valor.r11}}</p> 
  <p>Valor aportar FN = {{ valor.FN}}={{ valor.r4}}</p> <p>Valor aportar FN2 = {{ valor.FN2}}={{ valor.r12}}</p> 
  <p>Valor aportar EN = {{ valor.EN}}={{ valor.r5}}</p> <p>Valor aportar EN2 = {{ valor.EN2}}={{ valor.r13}}</p> 
  <p>Valor aportar NN = {{ valor.NN}}={{ valor.r6}}</p> <p>Valor aportar NN2 = {{ valor.NN2}}={{ valor.r14}}</p> 
  <p>Valor aportar NoF=  {{ valor.NoF}}={{ valor.r7}}</p> <p>Valor aportar NoF2=  {{ valor.NoF2}}={{ valor.r15}}</p> 
  <p>Valor aportar Emp=  {{ valor.Emp}}={{ valor.r8}}</p> <p>Valor aportar Emp2=  {{ valor.Emp2}}={{ valor.r16}}</p> 
  <p>Valor total apostar=  {{ valor.total}}</p>   <p>Valor total apostar eq2=  {{ valor.total2}}</p> 
{% endfor %}